<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-template :: ahead">

</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Matrix Admin</a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div th:replace="fragments/admin-template :: header-menu">
  
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<div th:replace="fragments/admin-template :: search">
  
</div>
<!--close-top-serch-->
<!--sidebar-menu-->
<div th:replace="fragments/admin-template :: sidebar-menu">
  
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">Pharmacies</a> <a href="#" class="current">Enregistrer un produit</a> </div>
    <h1>Enregistrer un nouveau Produit</h1>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  <div class="container-fluid">
  	<div class="row-fluid">
  		<div class="span12">
	      	<div class="widget-box">
	          <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG2"><span class="icon"><i class="icon-chevron-down"></i></span>
	            <h5>Details sur la pharmacie</h5>
	          </div>
	          <div class="widget-content nopadding collapse in" id="collapseG2">
	          	Pharmacie <span th:text="${session.pharmacie.nom}">Nom de la pharmacie</span> |
		      	<i class="icon-phone"></i> <span th:text="${session.pharmacie.telephone}">Telephone</span> |
		      	<i class="icon-home"></i> <span th:text="${session.pharmacie.adresse}">adresse</span>
	            
	          </div>
	        </div>
      </div>
  	</div>
  	
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>Les champs pr&eacute;c&eacute;d&eacute;s de (*) sont obligatoires</h5>
          </div>
          <div class="widget-content nopadding">
            <form th:action="@{/admin/enregistreProduit}" th:object="${produitDto}" class="form-horizontal" method="post" name="basic_validate" id="basic_validate" novalidate="novalidate">
              <div class="control-group">
                <label class="control-label">Reference *</label>
                <div class="controls">
                  <input type="text" name="reference" id="referencce" maxlength="10" required>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Libelle *</label>
                <div class="controls">
                  <input type="text" name="libelle" id="libelle" maxlength="50" required>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Prix *</label>
                <div class="controls">
                  <input type="number" name="prix" id="prix" required>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Quantit&eacute; *</label>
                <div class="controls">
                  <input type="number" name="quantite" id="quantite" required>
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" value="Enregistrer" class="btn btn-success">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div th:replace="fragments/admin-template :: footer">
  
</div>

<!--end-Footer-part-->

<!-- Le bloc d'importation des fichiers JavaScript -->
    <th:block th:insert="fragments/admin-template :: body/script"></th:block>
</body>
</html>
